/* Style search/filter container*/
.searchContainer{
    position: absolute;
    right: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}
#fishSearch{
background-image: url('../data/images/search.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#fishList{
    list-style-type: none; /* Remove list bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

#fishList li{
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#fishList li:hover{
    background-color: #f1f1f1; /* Add a hover effect to the list */
}



/* Style fish subpage */
#fishInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    /* background-color: aqua; */
    position: relative;
}

#fishInfoContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-left, .page-right {
    width: 45%;
}

#close {
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#fishImage img{
    padding: 20px;
    width: 60%;
}

#fishName {
    font-size: 5vw;
}

