@font-face {
    font-family: 'Stardew';
    src: url(../data/font/Stardew_Valley.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Stardew';
}

*:focus,
*:hover {
    outline: none; /* Fix black outline on leaflet map when selecting polygon*/
}

html, body {
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

.main-container {
    display: flex;
    width: 100%;
    height: calc(100% - 300px);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    min-height: 911px;
}

.left-panel {
    width: auto;
    /* height: calc(100% - 300px); */
    height: 100%;
    flex-shrink: 0;
    display: flex;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.center-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100% - 300px);
    /* max-width: 45%; */
    
}

.right-panel {
    padding: 20px;
    flex-shrink: 0;
    height: calc(100% - 400px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* Map */
#mapContainer {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    padding:20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* #map {
    width: auto;
    height: 80%;
    max-height: (100% - 20px);
} */

.leaflet-interactive {
    transition: fill-opacity 0.3s ease, stroke 0.3s ease;
}

/* Filters */

#reset {
    background-color: #ff5c5c;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    align-self: flex-end;
    margin-top: auto;
}

#reset:hover {
    background-color: #e04848;
}

.weather-filter div{
    background-color: #bebebe;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    width: 80px;
    text-align: center;
}

.weather-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.weather-btn:hover {
    background: #d8d8d8;
}

.weather-btn[data-weather="Sun"].selected {
    background: #ffe492;
    border-color: #ffbf00;
}

.weather-btn[data-weather="Rain"].selected {
    background: #a0e7ff;
    border-color: #32cbff;
} 

#filters{
    width: 100%;
    height: calc(40% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#filters p {
    font-size: 25px;
    margin-top: 0;
}


#radarChart {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#scatterplot {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}


/* Style search/filter container*/
.searchContainer{
    height: 100%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


#fishSearch{
    background-image: url('../data/images/search.png'); /* Add a search icon to input */
    background-position: 10px center; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-size: 20px 20px;
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    box-sizing: border-box;
    max-width: 170px;
    position: sticky;
    top: 0;
    z-index: 1;
}


#fishList{
    list-style-type: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

#fishList li{
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    max-width: 170px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

#fishList li:first-child {
    margin-top: 0px; /* fix top border being erased trying to prevent double borders*/
}

#fishList li:hover{
    background-color: #f1f1f1; /* Add a hover effect to the list */
}

#fishList li img {
    width: 25px;
}



/* Style fish subpage */

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1em;
    background: none;
    border: none;
    color: white;
    background-color: #ff5c5c;
    font-weight: bold;
    padding: 10px;
}

#close:hover {
    background-color: #e04848;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(-20px);
    }
    
}

#fishInfoOverlay {
    animation: fadeIn 0.5s ease-out;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#fishInfoOverlay.fade-out {
    animation: fadeOut 0.5s ease-out;
}

#fishInfo{
    background-color: white;
    padding: 40px;
    width: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#fishInfoContent {
    display: flex;
    width: 100%;
    gap: 20px;
}

/* Left side of subpage*/
.page-left {
    flex: 1;
    flex-direction: column;
    gap: 15px;
    /* width: 45% */
}

#fishName {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
}


#fishImageContainer {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content:flex-start;
}

#fishImageContainer img{
    padding-left: 20px;
    max-width: 70%;
    width: 200px;
    height: auto;
    /* width: 128px;  */
}

#fishMinigame {
    width: 10px;
    height: 128px;
    background-color: #ff5c5c;
}

/* Right side of subpage*/
.page-right {
    width: 60%
}

#fishInfoTable td {
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

#fishInfoTable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.page-description {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 20px;
}


/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dedede; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dedede; 
  }
