.category-filter-button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #f2d8e4; /* Pastel color */
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.category-filter-button:hover {
    background-color: #e8c3d3;
}
.category-filter-button.active {
    background-color: #a64d79; /* Darker shade when selected */
    color: white;
}
#filterContainer {
    position: absolute;
    right: 20px;
    top: 100px;
    display: flex;
    flex-direction: column;
}
#filterButtons, #categoryFilterButtons {
    display: flex;
    flex-direction: column;
}
